html, body{
    width: 100%;
    height: 100%;
    background-color: #eee !important;
}


#coming-soon-logo{
	font-family: "New Century Schoolbook", Times, sans-serif;
	margin-top: 100px;
	text-align: center;
	font-size: 58px;

}
#coming-soon{
	font-family: "New Century Schoolbook", Times, sans-serif;
	margin-top: 10px;
	text-align: center;
	font-size: 78px;

}