<html>
<body style = "background-color: #DDD;">
{% if name %}
	<h1 style="color: blue; margin-top: 100px; text-align: center;">Hello {{ name }}!</h1>
	<p>
	<pre>
							&nbsp &nbsp &nbsp                             ,-.
							&nbsp &nbsp &nbsp        ___,---.__          /'|`\          __,---,___
							&nbsp &nbsp &nbsp     ,-'    \`    `-.____,-'  |  `-.____,-'    //    `-.
							&nbsp &nbsp &nbsp   ,'        |           ~'\     /`~           |        `.
							&nbsp &nbsp &nbsp  /      ___//              `. ,'          ,  , \___      \
							&nbsp &nbsp &nbsp |    ,-'   `-.__   _         |        ,    __,-'   `-.    |
							&nbsp &nbsp &nbsp |   /          /\_  `   .    |    ,      _/\          \   |
							&nbsp &nbsp &nbsp \  |           \ \`-.___ \   |   / ___,-'/ /           |  /
							&nbsp &nbsp &nbsp  \  \           | `._   `\\  |  //'   _,' |           /  /
							&nbsp &nbsp &nbsp   `-.\         /'  _ `---'' , . ``---' _  `\         /,-'
							&nbsp &nbsp &nbsp      ``       /     \    ,='/ \`=.    /     \       ''
							&nbsp &nbsp &nbsp              |__   /|\_,--.,-.--,--._/|\   __|
							&nbsp &nbsp &nbsp              /  `./  \\`\ |  |  | /,//' \,'  \
							&nbsp &nbsp &nbsp             /   /     ||--+--|--+-/-|     \   \
							&nbsp &nbsp &nbsp            |   |     /'\_\_\ | /_/_/`\     |   |
							&nbsp &nbsp &nbsp             \   \__, \_     `~'     _/ .__/   /
							&nbsp &nbsp &nbsp              `-._,-'   `-._______,-'   `-._,-'

    </pre>

{% else %}
	<h1 style="color: blue;">Hello (non_name)!</h1>
{% endif %}

</body>
</html>